*
{
    margin:0;
    padding:0;
}

#horloge
{
    background: url(./clock.svg) no-repeat ;
    background-position: center;
    background-size:90%;
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    border: 1px solid black;
    border-radius : 50%;
}

#heures
{
    position:absolute ;
    transform-origin:0;
    transform: rotate(270deg);
    width: 150px;
    border : 5px solid rgb(59, 54, 54);
    border-radius:5px;
    left:250px;
    top : 250px;
    z-index: 4;
}

#minutes
{   
    position:absolute;
    transform: rotate(270deg);
    width: 200px;
    border : 5px solid rgb(0, 0, 0);
    border-radius:5px;
    left:250px;
    top : 250px;
    transform-origin:0;
    z-index: 3;
}

#secondes
{ 
    position:absolute;
    transform: rotate(270deg);
    width: 240px;
    border : 5px solid red;
    border-radius:5px;
    left:250px;
    top : 250px;
    transform-origin: 0 ;
}

#centreHorloge
{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: black;
    left:calc((100% - 30px)/2);
    top:calc((100% - 30px)/2);
    z-index: 10;
}